.about {
  padding: 60px 0;

  &__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    max-width: 812px;
    width: 100%;
  }

  &__text {
    & p {
      font-size: 56px;
      font-weight: 500;
      color: #18171A;
      text-transform: uppercase;
      line-height: 64px;
      letter-spacing: -2.36px;
      margin-bottom: 15px;
    }
  }

  &__author {
    font-size: 16px;
    color: #02b01c;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
  }

  @media screen and (max-width: 1200px) {
    &__text {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;

    &__text {
      font-size: 36px;
      line-height: 42px;
    }
  }
}