@import "../../../node_modules/swiper/swiper-bundle.css";

@import "global.scss";
@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "washing-services.scss";
@import "service.scss";
@import "process.scss";
@import "carwash.scss";
@import "reviews.scss";
@import "contact.scss";
@import "our-service-page.scss";
@import "footer.scss";