.footer {
  padding: 60px 0;
  background-color: #18171A;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 240px;
    height: 200px;
  }

  &__title {
    font-size: 40px;
    color: #fff;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 45px;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    @media screen and (max-width: 576px) {
      font-size: 32px;
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 80px;

    @media screen and (max-width: 992px) {
      justify-content: center;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    padding: 0;
    font-size: 28px;
    position: relative;
    line-height: 36px;
    color: #fff;
  }

  &__box {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    font-weight: 400;
  }

  &__text-info-link {
    transition: all 0.3s;

    @media screen and (min-width: 320px) {
      &:active {
        color: #02b01c;
        transition: all 0.3s;
      }
    }

    @media screen and (min-width: 1200px) {
      &:hover {
        color: #02b01c;
        transition: all 0.3s;
      }
    }
  }

  &__text-info {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    font-weight: 400;
  }
}