@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: local("BarlowCondensed-Black"),
  url("../fonts/BarlowCondensed-Black.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("BarlowCondensed-Bold"),
  url("../fonts/BarlowCondensed-Bold.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  src: local("BarlowCondensed-ExtraBold"),
  url("../fonts/BarlowCondensed-ExtraBold.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local("BarlowCondensed-Light"),
  url("../fonts/BarlowCondensed-Light.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("BarlowCondensed-Medium"),
  url("../fonts/BarlowCondensed-Medium.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("BarlowCondensed-Regular"),
  url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local("BarlowCondensed-SemiBold"),
  url("../fonts/BarlowCondensed-SemiBold.woff2") format("woff2"),
  url("../fonts/BarlowCondensed-SemiBold.woff") format("woff");
  font-display: swap;
}


// Reset style

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

// Global style

html,
body {
  min-height: 100%;

}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1690px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.name-category {
  font-size: 18px;
  color: #02b01c;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.6;
  border-bottom: 1px solid #00000030;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.main-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 56px;
  color: #18171A;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 64px;
  letter-spacing: -2.4px;

  @media screen and (max-width: 1200px) {
    font-size: 56px;
  }

  @media screen and (max-width: 768px) {
    font-size: 34px;
    line-height: 48px;
  }
}

.main-button {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  padding: 12px 45px;
  background-color: #02b01c;
  transition: all 0.3s;

  @media screen and (min-width: 320px) {
    &:active {
      background-color: #08c622;
      transition: all 0.3s;
    }
  }

  @media screen and (min-width: 1200px) {
    &:hover {
      background-color: #08c622;
      transition: all 0.3s;
    }
  }
}
